@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Muli:wght@300;400');

:host {
  font-family: 'EB Garamond', serif;
  position: fixed;
  top: calc(var(--golden-ratio) * 1em);
  left: calc(var(--golden-ratio) * 1em);
  right: calc(var(--golden-ratio) * 1em);
  bottom: calc(var(--golden-ratio) * 1em);
  background-image: url(img/paper.svg);
  padding: calc(var(--golden-ratio) * 2em) calc(var(--golden-ratio) * 1em);
  z-index: 1300;
  transform: translateY(110%);
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  box-shadow: none;
  content-visibility: auto;
  will-change: transform;
  font-size: 1rem;
}

:host([open]) {
  opacity: 1;
  pointer-events: auto;
  transform: none;
  transition: transform 500ms ease;
  overflow-y: auto;
}

#close-button {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 6px;
  padding: 0.5em;
}

main {
  height: 100%;
}

p::first-line {
  text-indent: 1rem;
}

p {
  margin-bottom: 0;
}

p + p {
  margin-top: 0;
  margin-bottom: 1em;
}

p:not(:first-child) {
  text-indent: calc(var(--golden-ratio) * 1em);
}

cite {
  display: block;
  text-align: right;
}

h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  text-align: center;
}

h3 {
  margin-top: 4rem;
}

blockquote {
  font-style: italic;
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  margin-left: 0;
  padding-left: 1rem;
}

img {
  width: 100%;
}

@media (min-width: 800px) and (orientation: landscape) {
  :host {
    opacity: 1;
    pointer-events: auto;
    transform: none;
    transition: transform 500ms ease;
    width: 30vw;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    overflow-y: auto;
    font-size: 1.1rem;
  }

  header {
    display: none;
  }

  main {
    margin: calc(var(--golden-ratio) * 1em);
  }

  article:last-child {
    padding-bottom: calc(var(--golden-ratio) * 1em);
  }
}